

body {
  font-family: 'Anonymous Pro', monospace;
  background-image: url(images/BackGround.png);
  align-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 286px;
  height: 491px;
  background: #01080A;
  box-shadow: 0 1px 18px rgb(2 89 32);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  z-index: -1;
  font-size: 1.5rem;
}

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}

.circle{
  @include border-gradient(skyblue, hotpink);
  width: 100px;
  height: 100px;
  animation: rotateThis 1s linear infinite;  
  border-radius: 50%;
  border: 1px solid rgb(80, 240, 74);
  @keyframes rotateThis {
    from {
      transform: rotate(0deg) scale(1);
    }
    
    to {
      transform: rotate(360deg) scale(1);
    }
  }
}

.profile-pic { 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("images/Untitled design (1).jpg") 0 1px / cover; 
   
}

h2 {
  font-family: 'Anonymous Pro';
  /*color: #025920;*/
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff0, 0 0 21px #ffffff91, 0 0 42px #00ffaa00, 0 0 82px #0fa0, 0 0 92px #0fa0, 0 0 102px #00ffaa00, 0 0 151px #00ffaa00;
  font-weight: lighter;
  text-align: center;
  font-size: 33px;
}

p {
  margin-top: 0.53em;
  font-weight: lighter;
  /*color: #025920;*/
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff0, 0 0 21px #ffffff91, 0 0 42px #0fa0, 0 0 82px #0fa0, 0 0 92px #00ffaa4f, 0 0 102px #0fa0, 0 0 151px #0fa0;
}

.layer {
  position: absolute;
  top: 21%;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .4s ease;
  z-index: -1;
  overflow: hidden;
}

.details {
  text-align: center;
  color: #fff;
  transition: .4s ease;
}

.skills {
  font: 1.5rem;
}

.skills i {
  opacity: 0;
  transition: .4s ease;
}

.fa-html5 {
  color: #e34c26;
  margin-right: 2px;
  margin-left: -5px;
}

.fa-css3-alt {
  color: #0098ff;
  margin-right: 2px;
  margin-left: 1px;
}

.fa-js {
  color: #f0db4f;

}

.fa-react {
  color: #0098ff;
}

.fa-github {
  content: "\f09b";
  margin-right: 2px;
  margin-left: -7px;
}

.fa-python {
  margin-right: 3px;
  margin-left: -3px;
}

.fa-node-js {
  color: #0098ff;
  margin-right: 2px;
  margin-left: -1px;
}

.fa-aws {
  color: black;
}

.btn a {
  display: block;
  font-size: smaller;
  text-decoration: none;
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 35px;
  text-align: center;
  line-height: 50px;
  /*color: #025920;*/
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  letter-spacing: 2px;
  transition: .4s ease;
  /*font-weight: bolder;*/
}

.container:hover .layer {
  height: 100%;
}

.container:hover .details {
  color: #040404;
}

.container:hover .btn a {
  border-color: #040404;
  color: #040404;
}

.container:hover .skills i {
  opacity: 1;
}